@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: beige;
}
*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: rgb(216, 203, 203);
}
.brand img{
    width: 90px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
nav ul li{
    padding: 0 12px;
}
.container{
    min-height: 62vh;
    background-color:rgb(231, 212, 212);
    color: black;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 53.5%;
    margin: 23px auto;
    border-radius: 10px;
    padding: 30px;
    background-image: url('bg.png');
}
.bottom{
    position: sticky;
    bottom: 0;
    height: 100px;
    background-color: rgb(216, 203, 203);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 8px;
}
.icons i{
    padding: 0 3px;
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
}

.songItem{
    height: 50px;
    width: 150%;
    margin: 10px 0;
    display: flex;
    background-color:rgb(250, 223, 223) ;
    color: black;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.songItem img{
    width: 45px;
    border-radius: 24px;
    margin: 0 23px;
}
.songItem i{
    padding-left: 4px;
}
.timestamp{
   margin: 0 23px;
}
.timestamp i{
    cursor: pointer; 
}