@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: rgb(252, 252, 252);
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: rgb(205, 99, 99);
}
.brand img{
    width: 90px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
nav ul li{
    padding: 0 12px;
}
.container{

    background-color:rgb(231, 212, 212);
    color: black;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 57%;
    margin: 23px auto;
    border-radius: 10px;
    padding: 30px;
    background-color: rgb(205, 99, 99);
}
.bottom{
    position: absolute;
    bottom: 0px;
    height: 100px;
    width: 100%;
    background-color: rgb(205, 99, 99);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 8px;
}
.icons i{
    padding: 0 3px;
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
}

.songItem{
    height: 50px;
    width: 145%;
    position: relative;
    margin: 10px 0;
    display: flex;
    background-color:rgb(202, 122, 122) ;
    color: black;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    font-family: 'Varela Round', sans-serif;
}
.songItem img{
    width: 45px;
    border-radius: 24px;
    margin: 0 23px;
}
.songItem i{
    padding-left: 4px;
}
.timestamp{
   margin: 0 23px;
}
.timestamp i{
    cursor: pointer; 
}

@media screen and (max-width: 1410px)
{
    .songItem{
        width: 105%;
    }
}

@media screen and (max-width: 665px)
    {
        .songItem img{
            display: none;
        }
    body{
        background-color: black;
    }
    .songItem{
        padding-left: 10px;
    }
}


@media screen and (max-width: 1010px){
    .container{
        h1{
            text-align: justify;
        }
    }
    #response{
        display: none;
    }
}